@import "globals";

main.project {
  max-width: 1280px;
  overflow: hidden;

  article {
    float: left;
    width: 33%;

    h1 {
      margin: 0;
    }

    h2 {
      margin: 0.5em 0;
      font-size: 1.5em;
      line-height: 1.2;
      font-weight: 600;
    }

    .article-body {
      margin: 0.5em 0 2em; // bottom margin for mobile
      border-bottom: $separator-border;
    }

    li {
      margin: 0.25em 0;
    }
  }

  aside {
    float: right;
    width: 67%;
  }

  img,
  video {
    max-width: 100%;
    border: $separator-border;
  }

  figure {
    margin-right: 0;

    a {
      border: 0;
    }

    img {
      width: 100%;
    }
  }

  figcaption {
    margin: 0.25em 0 1.5em;
    font-weight: 600;
  }

  .project-link {
    font-weight: 600;
  }

  .project-info {
    line-height: 1.35;
    margin: 0.5em 0 1em;
    border-spacing: 0 0.5em;

    td {
      vertical-align: top;

      &:first-child {
        font-weight: 600;
        padding-right: 0.8em;
        text-transform: uppercase;
        font-size: 0.8em;
        margin-top: 0.2em;
        display: block;
      }
    }
  }

  @include media-query($on-laptop) {
    article,
    aside {
      width: 100%;
      float: none;
    }

    figure {
      margin: 0;
    }
  }
}
